<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>de.uselessness.${PRODUCT_NAME:identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>WBPL</string>
	<key>CFBundleShortVersionString</key>
	<string>${PRODUCT_VERSION}</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>71</string>
	<key>NSPrincipalClass</key>
	<string>UCFlashlessView</string>
	<key>UCProductSite</key>
	<string>http://useless.github.com/flashless/</string>
	<key>WebPluginDescription</key>
	<string>Shockwave Flash 10.0 r45</string>
	<key>WebPluginMIMETypes</key>
	<dict>
		<key>application/x-shockwave-flash</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>swf</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>${PRODUCT_NAME} ${PRODUCT_VERSION}</string>
		</dict>
	</dict>
	<key>WebPluginName</key>
	<string>Shockwave Flash</string>
</dict>
</plist>
